In [1]:
import pymysql
import pandas as pd
import numpy as np
from datetime import datetime

### 天氣測站清單匯入MySQL

In [3]:
# 建立mysql連線
host = 'ip address'
user = 'your account'
password = 'your password'
database = 'your DB name'
port = 3306

conn = pymysql.connect(host=host, user=user, password=password, database=database, port=port)

# 指定要寫入的資料庫表名稱
table_name = 'weather_station'

source_path = "../DEVIDE/氣象測站清單20230607.csv"

df = pd.read_csv(source_path,encoding='UTF-8', header=0, index_col=False)

# 一行一行寫入資料庫
for row in df.itertuples(index=False):
    values = ', '.join([f"'{value}'" if pd.notnull(value) else 'NULL' for value in row])
    query = f"INSERT INTO {table_name} VALUES ({values})"
    try:
        with conn.cursor() as cursor:

            cursor.execute(query)


    except pymysql.MySQLError as e:
        print(f"row: {row}: {str(e)}\n")

conn.commit()
print(f"Finished processing row {row}")
conn.close()

Finished processing row Pandas(狀態='現存', 站號='C1X040', 站名='東原', 站種='局屬自動站', _4=232.0, 經度=120.4638, 緯度=23.2916, 城市='臺南市', 地址='東山區高原里4鄰31號後方果園', 資料起始日期='1993-03-01', 撤站日期=nan, 備註='本站於2015/6/30起進行儀器汰換，並於2015/12/31完成驗收。', 原站號=nan, 新站號=nan)

### 科技執法清單資料匯入MySQL

In [ ]:
host = 'ip address'
user = 'your account'
password = 'your password'
database = 'your DB name'
port = 3306

# 建立mysql連線
conn = pymysql.connect(host=host, user=user, password=password, database=database, port=port)

# 指定要寫入的資料庫表名稱
table_name = 'traffic_station'

source_path = "../RAW/六都科技執法清單/科技執法總清單_20230627_NP.csv"

df = pd.read_csv(source_path,encoding='UTF-8', header=0, index_col=False)

# 一行一行寫入資料庫
for row in df.itertuples(index=False):
    values = ', '.join([f"'{value}'" if pd.notnull(value) else 'NULL' for value in row])
    query = f"INSERT INTO {table_name} VALUES ({values})"
    try:
        with conn.cursor() as cursor:

            cursor.execute(query)


    except pymysql.MySQLError as e:
        print(f"row: {row}: {str(e)}\n")

conn.commit()
print(f"Finished processing row {row}")
conn.close()